// Colors
#white {background: #fff;}
#blue {background: #009;}
#green {background: #090;}
#red {background: #900;}

html,
body {
  background: $app-page-background;
}

.body-wrapper {
  background: $app-body-background;
  color: $app-body-text;
}

.card {
  background: white;
}

.card {
  .card-header{
    background: white;
  }
  .card-image {
    background: $php-header-complementary;
  }
}

.card-stats li {
  text-align: center;
}

#life {
  color: $app-body-text;
  display: inline-block;
  width: 2.5em;
}
