//Main structure
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.body-wrapper {
  @include outer-container();

  min-height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  @include row();
}

.header-title {
  @include span-columns(8);
  @include shift(2);

  min-height: 55px;
}

main {
  flex: 1;
}

.cards-wrapper {
  @include row();

  .cards {
    @include span-columns(12);
    @include pad(0 default);
  }
}



.card {
  margin: $base-spacing 0;
  min-width: 220px;

  @include span-columns(6 of 12);
  @include omega(2n);

  .card-image {
    margin: 0;
    max-height: 220px;
  }
}
  .card-copy {
    min-height: 150px;
  }

.card-stats {
  min-height: 75px;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      flex: 0;
    }
  }
}

footer {
  @include row();

  height: 60px;
  padding: 10px;

  img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px;
  }

  p {
    float: right;
    line-height: 40px;
    margin: 0;
  }

  .license {
    display: inline-block;
    height:40px;
    line-height: 40px;
  }
}
