// Colors
#white {background: #fff;}
#blue {background: #009;}
#green {background: #090;}
#red {background: #900;}

html,
body {
  background: $app-page-background;
}

.body-wrapper {
  background: $app-body-background;
  color: $app-body-text;
}

.textbox {
  color: $app-body-text;
}
