//Main structure
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.body-wrapper {
  @include outer-container();

  min-height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  @include row();
}

.header-title {
  @include span-columns(8);
  @include shift(2);

  min-height: 55px;
}

main {
  flex: 1;
}

section {
  @include row();
}

.exercise {
  @include span-columns(12);
  @include pad(10px);
}

.exercise-left {
  @include span-columns(6 of 12);
}

.exercise-right {
  @include span-columns(6 of 12);
}

.frm-right-ex1 {
  float: right;
  width: 300px;
}

label {
  display: inline-block;
  margin: 0 0 0 15px;
}

.rdo-label {
  display: block;
}

form > .textbox {
  display: inline-block;
}

input[type="text"].textbox {
  width: 150px;
}

select {
  display: inline-block;
  margin: 0;
}

.btn-wrapper {
  margin: 60px 0 0 0;
}

button {
  margin: 10px;
}

footer {
  @include row();
  @include pad(10px);

  height: 60px;

  img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px;
  }

  p {
    float: right;
    line-height: 40px;
    margin: 0;
  }
}

.license {
  display: inline-block;
  height:40px;
  line-height: 40px;
}
