//Main structure
html,
body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

.body-wrapper {
  @include outer-container();

  min-height: 100%;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  @include row();
}

.header-title {
  @include span-columns(8);
  @include shift(2);

  min-height: 55px;
}

main {
  flex: 1;
}

.breadcrumb {
  width: 100%;

  a {
    margin-bottom: 0px;
  }
}

section {
  @include row();
}

// Form
.wizard {
  @include span-columns(8);
  @include shift(2);
}

form {
  margin: 10px 0 0 0;
  padding: 10px;
}

select {
  display: inline-block;
}

.next {
  float: right;
}
//--------

footer {
  @include row();

  height: 60px;
  padding: 10px;

  img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px;
  }

  p {
    float: right;
    line-height: 40px;
    margin: 0;
  }

  .license {
    display: inline-block;
    height:40px;
    line-height: 40px;
  }
}
