/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button, input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover, input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img, picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input, label, select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] {
  box-sizing: border-box;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button, input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  box-sizing: border-box; }

.cards:after {
  content: "";
  display: table;
  clear: both; }

.card {
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 3px;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
  box-shadow: 0 2px 4px #e6e6e6;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .card {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .card:last-child {
        margin-right: 0; }
      .card:nth-child(3n) {
        margin-right: 0; }
      .card:nth-child(3n+1) {
        clear: left; } }
  .card .card-image {
    overflow: hidden;
    max-height: 150px;
    background: #DBD199; }
    .card .card-image img {
      transition: all 0.2s ease-in-out;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      display: block;
      margin: 0 auto; }
  .card .ribbon-wrapper {
    width: 85px;
    height: 85px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px; }
    .card .ribbon-wrapper .ribbon {
      font-size: 0.8em;
      font-weight: 800;
      text-align: center;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #477DCA;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #DDD;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
    padding: 0.5em 0.809em; }
  .card .card-copy {
    padding: 0.75em 0.809em;
    font-size: 0.9em;
    line-height: 1.5em; }
  .card .card-stats {
    padding: 0.75em 0.809em;
    overflow: auto; }
    .card .card-stats ul li {
      display: inline;
      color: #6f99d5;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      line-height: 1.1em;
      padding: 0 0.7em 0 0.7em; }
      .card .card-stats ul li:first-child {
        padding-left: 0; }
      .card .card-stats ul li:last-child {
        border-right: 0; }
      .card .card-stats ul li span {
        color: #333;
        font-size: 0.7em;
        display: block;
        font-weight: normal; }
  .card:hover {
    background-color: white; }
    .card:hover .card-image {
      background: #e2d9ac; }
    .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

html, body {
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0; }

.body-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%; }
  .body-wrapper:after {
    content: "";
    display: table;
    clear: both; }

.flex-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

header {
  display: block; }
  header:after {
    content: "";
    display: table;
    clear: both; }

.header-title {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  min-height: 55px; }
  .header-title:last-child {
    margin-right: 0; }

main {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.cards-wrapper {
  display: block; }
  .cards-wrapper:after {
    content: "";
    display: table;
    clear: both; }
  .cards-wrapper .cards {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0 2.35765%; }
    .cards-wrapper .cards:last-child {
      margin-right: 0; }

.card {
  margin: 1.5em 0;
  min-width: 220px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .card:last-child {
    margin-right: 0; }
  .card:nth-child(2n) {
    margin-right: 0; }
  .card:nth-child(2n+1) {
    clear: left; }
  .card .card-image {
    margin: 0;
    max-height: 220px; }

.card-copy {
  min-height: 150px; }

.card-stats {
  min-height: 75px; }
  .card-stats ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .card-stats ul li {
      -webkit-flex: 0;
          -ms-flex: 0;
              flex: 0; }

footer {
  display: block;
  height: 60px;
  padding: 10px; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer img {
    height: 31px;
    margin: 4px 0 0 0;
    width: 88px; }
  footer p {
    float: right;
    line-height: 40px;
    margin: 0; }
  footer .license {
    display: inline-block;
    height: 40px;
    line-height: 40px; }

#white {
  background: #fff; }

#blue {
  background: #009; }

#green {
  background: #090; }

#red {
  background: #900; }

html, body {
  background: #323232; }

.body-wrapper {
  background: #f2f2f2;
  color: #343434; }

.card {
  background: white; }

.card .card-header {
  background: white; }
.card .card-image {
  background: #ffedb6; }

.card-stats li {
  text-align: center; }

#life {
  color: #343434;
  display: inline-block;
  width: 2.5em; }

header {
  background: #477dca;
  color: #f2f2f2; }
  header h1 {
    padding: 5px 0; }

.header-title {
  text-align: center; }

footer {
  background: #323232;
  color: #f2f2f2; }
